<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <script src="vue.js"></script>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for=" (ingredient, i) in ingredients">{{ ingredient }} ({{i}})</li>
        </ul>
        
        <hr>
            <ul v-for="person in persons">
                <li>{{person.name}}</li>
            </ul>
        <hr>
        
        <template  v-for=" (ingredient, i) in ingredients">
            <h3>{{ ingredient }}</h3>
            <h4> {{i}} </h4>
        </template>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Dario', age: 26, color: 'blue' },
                    {name: 'Mario', age: 21, color: 'white' },
                    {name: 'Ante', age: 28, color: 'pink' },
                    {name: 'Marija', age: 22, color: 'yellow' }
                ]
            }
        })
    </script>
</body>

</html>